body {
  background-color:cornsilk
  margin: 50px;

}


.container {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  row-gap: 50px;
  column-gap: 50px;
  text-align: center;
  font-family: 'Akshar', sans-serif;

}

.card {
  border: solid 1px lightblue;
  background-color: bisque;
}

.available {
background-color: darkgray;
color: yellow;
}


footer {
  font-size:x-small
}

header {
  font-size: large;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

h2 {
  font-family: 'Bangers', cursive;
}
